@font-face {
    font-family: 'Matrix Code NFI';
    src: url('../fonts/matrix code nfi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  body{
    overflow: hidden;
    /* background:#222222; */
     background-image: url("/image/b2.gif");
    background-size:800px;
    background-repeat: repeat ;
    background-position: scroll; 
    /* background-image: linear-gradient(-45deg,#222222,#666666); */
  }

.c5{
    font-size: 16px;
    color:#00FF41;
    text-align: center;
    text-transform: capitalize;
    /* can be uppercase ,lowercase and capitalize */
    letter-spacing: 5px;
    word-spacing: 5px;
    line-height: 2;
    font-family: 'Matrix Code NFI', sans-serif;
	text-shadow: 0 0 3px #00FF41,0 0 5px #00FF41,0 0 5px #00FF41;
    position: absolute;
  -webkit-animation: linear infinite;
  -webkit-animation-name: run;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes run {
    0% {
      left: -5%;
      text-transform: lowercase;
    }
    50% {
      left: 5%;
      text-transform: capitalize;
    }
    100% {
      left: 0%;
      text-transform: uppercase;    
    }
  }